.card {
  max-width: 413px;
  min-height: 445px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}

.card__delete-icon {
  background: url(../images/default-deleteicon.svg) center no-repeat;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.card__delete-icon:hover {
  background-image: url(../images/hover-deleteicon.svg);
}
.card__title {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}

.card__caption {
  margin: 12px 0 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.card__icon {
  width: 23px;
  height: 20px;
  align-self: flex-end;
  color: #212121;
  opacity: 0.6;
  border: none;
  background-color: #fcf5e5;
  cursor: pointer;
  padding: 0;
  background: transparent url(../images/heart-icon.svg) center no-repeat;
}

.card__icon:hover {
  opacity: 1;
}

.card__icon_liked {
  background-image: url(../images/liked-hearticon.svg);
  opacity: 1;
}

.card__icon_liked:hover {
  background-image: url(../images/liked-hover-hearticon.svg);
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    min-height: 316px;

    margin: 0;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    font-size: 16px;
  }
}
