.profile {
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 34px 0 20px;
  margin: 0 auto;
}

.profile__avatar-container {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin-right: 20px;
  display: flex;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  z-index: 1;
  object-fit: cover;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  visibility: hidden;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
}

.profile__avatar-button::after {
  content: "Edit Avatar";
  color: white;
  margin-bottom: 12px;
}

.profile__pencil-icon {
  margin: 0 8px 12px 0;
}

.profile__name-description {
  display: flex;
  flex-direction: column;
  /* max-width: 420px;
  min-height: 190px; */
}

.profile__name {
  margin: 0;
  font-size: 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  /* padding: 12px 0 18px 0; */
  color: #212121;
  opacity: 0.7;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__button-secondary {
  display: flex;
  margin-top: auto;
  padding: 0;
  height: 20px;
  width: 130px;
  font-size: 16px;
  border: none;
  background: #fcf5e5;
  opacity: 0.7;
  cursor: pointer;
}

.profile__button-secondary-icon {
  margin-right: 8px;
}

.profile__button-secondary:hover {
  opacity: 1;
}

.profile__button-primary {
  margin-left: auto;
  width: 149px;
  height: 52px;
  align-self: flex-end;
  border-radius: 8px;
  font-size: 16px;
  background-color: #212121;
  cursor: pointer;
  color: #fcf5e5;
  border: none;
}

.profile__button-primary-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.profile__button-primary:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    padding: 20px 0 0;
  }

  .profile__avatar-button {
    visibility: visible;
    background: #21212199;
    width: 23.34px;
    height: 23.34px;
    padding: 4px;
    border-radius: 6px;
    top: 52px;
    left: 146px;
    position: absolute;
  }

  .profile__avatar-button::after {
    content: "";
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .profile__name-description {
    text-align: center;
    max-width: 288px;
  }

  .profile__name {
    margin: 12px 0 6px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .profile__description {
    margin-bottom: 32px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }

  .profile__button-secondary {
    margin: 0 auto 20px;
    opacity: 0.7;
    width: 108px;
  }

  .profile__button-primary {
    margin: 0 0 20px auto;
    width: 288px;
    height: 52px;
  }
}
